In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/sim-prediction/sim_ami.csv")

In [3]:
df.head(10)

   price_vnd  phone_number
0    1750000     315667012
1    1200000     322044994
2    1000000     323860456
3     950000     324373123
4     900000     324474739
5     900000     325000119
6     900000     325000139
7    1550000     325000368
8     750000     325000440
9    2500000     325000456

In [4]:
df.shape

(1031721, 2)

In [5]:
list_price = df['price_vnd'].tolist()

In [6]:
df

         price_vnd  phone_number
0          1750000     315667012
1          1200000     322044994
2          1000000     323860456
3           950000     324373123
4           900000     324474739
...            ...           ...
1031716    2050000     997999953
1031717    3000000     997999960
1031718    3000000     997999962
1031719    3000000     997999963
1031720    5000000     997999980

[1031721 rows x 2 columns]

In [7]:
df["phone_number"] = df["phone_number"].astype(str)

In [8]:
df['phone_number'].describe()

count       1031721
unique      1031721
top       315667012
freq              1
Name: phone_number, dtype: object

In [9]:
df['phone_number'].value_counts()

315667012    1
902815511    1
902814499    1
902814747    1
902814884    1
            ..
776901973    1
776901979    1
776901983    1
776901988    1
997999980    1
Name: phone_number, Length: 1031721, dtype: int64

In [10]:
list_gia = df['price_vnd'].tolist()

# for i in range(len(list_gia)):
#     if ( type(list_gia[i]) == dict):
#         print(list_gia[i])

In [11]:
for i in range(len(list_gia)):
    if type(list_gia[i]) == dict:
        list_gia[i] = list_gia[i]['$numberLong']
        
for i in range(len(list_gia)):
    if ( type(list_gia[i]) == dict):
        print(list_gia[i])

In [12]:
df['price_vnd'] = list_gia

In [13]:
df.head()

   price_vnd phone_number
0    1750000    315667012
1    1200000    322044994
2    1000000    323860456
3     950000    324373123
4     900000    324474739

In [14]:
list_number = df['phone_number'].tolist()

list_2_last = list() #extract 2 last digit

list_3_last = list() #extract 3 last digit

list_4_last = list() #extract 4 last digit

list_5_last = list() #extract 5 last digit

list_first = list() #extract first digit after 0

list_combo_3_identical_bool = list() # the phone number contain 111, 222, ....999 or not

list_combo_3_identical_cat = list() # the phone number contain which one of 111, 222, ....999

list_combo_4_identical_bool = list() # the phone number contain 1111, 2222, ... or not

list_combo_4_identical_cat = list()

list_combo_5_identical_bool = list() # the phone number contain 11111, 22222, ... or not

list_combo_5_identical_cat = list()

list_combo_6_identical_bool = list() 

list_combo_6_identical_cat = list() 

list_3_combo_s = list() # tam hoa <5

list_3_combo_57 = list() # tam hoa 5,7

list_3_combo_689 = list() # tam hoa 6,8,9

list_4_combo_s = list() # tu quy <5

list_4_combo_57 = list() # tu quy 5,7

list_4_combo_689 = list() # tu quy 6,8,9


for i in range(len(list_number)):
    str_tmp_2_last = list_number[i][-2:]
    list_2_last.append(str_tmp_2_last)

    str_tmp_3_last = list_number[i][-3:]
    list_3_last.append(str_tmp_3_last)

    str_tmp_4_last = list_number[i][-4:]
    list_4_last.append(str_tmp_4_last)

    str_tmp_5_last = list_number[i][-5:]
    list_5_last.append(str_tmp_5_last)

    str_tmp_first = list_number[i][0]
    list_first.append(str_tmp_first)

    list_combo_3 = {'000','111','222','333','444','555','666','777','888','999'}
    combo_3_score = 0
    combo_3_cat = ""
    
    combo_3_s = 0
    combo_3_57 = 0
    combo_3_689 = 0
    for str_tmp in list_combo_3:
        if str_tmp in list_number[i]:
            combo_3_score = combo_3_score + 1
            combo_3_cat += str_tmp
            
            x = (int)(str_tmp[0])
            
            if(x in {0,1,2,3,4} ): 
                combo_3_s = combo_3_s + 1
            elif (x == 5 or x == 7 ):
                combo_3_57 = combo_3_57 + 1    
            else:
                combo_3_689 = combo_3_689 + 1
                        
    list_combo_3_identical_bool.append(combo_3_score)
    list_combo_3_identical_cat.append(combo_3_cat)
    
    list_3_combo_s.append(combo_3_s)
    list_3_combo_57.append(combo_3_57)
    list_3_combo_689.append(combo_3_689)

    list_combo_4 = {'0000','1111','2222','3333','4444','5555','6666','7777','8888','9999'}
    combo_4_score = 0
    combo_4_cat = ""
    
    combo_4_s = 0
    combo_4_57 = 0
    combo_4_689 = 0
    for str_tmp in list_combo_4:
        if str_tmp in list_number[i]:
            combo_4_score = combo_4_score + 1
            combo_4_cat += str_tmp
            
            x = (int)(str_tmp[0])
            
            if(x in {0,1,2,3,4} ): 
                combo_4_s = combo_4_s + 1
            elif (x == 5 or x == 7 ):
                combo_4_57 = combo_4_57 + 1    
            else:
                combo_4_689 = combo_4_689 + 1            
            

    list_combo_4_identical_bool.append(combo_4_score)
    list_combo_4_identical_cat.append(combo_4_cat)
    
    list_4_combo_s.append(combo_4_s)
    list_4_combo_57.append(combo_4_57)
    list_4_combo_689.append(combo_4_689)

    list_combo_5 = {'00000','11111','22222','33333','44444','55555','66666','77777','88888','99999'}
    combo_5_score = 0
    combo_5_cat = ""
    for str_tmp in list_combo_5:
        if str_tmp in list_number[i]:
            combo_5_score = combo_5_score + 1
            combo_5_cat += str_tmp

    list_combo_5_identical_bool.append(combo_5_score)
    list_combo_5_identical_cat.append(combo_5_cat)


    list_combo_6 = {'000000','111111','222222','333333','444444','555555','666666','777777','888888','999999'}
    combo_6_score = 0
    combo_6_cat = ""
    for str_tmp in list_combo_6:
        if str_tmp in list_number[i]:
            combo_6_score = combo_6_score + 1
            combo_6_cat += str_tmp

    list_combo_6_identical_bool.append(combo_6_score)
    list_combo_6_identical_cat.append(combo_6_cat)

In [15]:
len(list_4_combo_689)

1031721

In [16]:
df['2_last'] = list_2_last
df['3_last'] = list_3_last
df['4_last'] = list_4_last
df['5_last'] = list_5_last
df['first'] = list_first

df['3_combo_bool'] = list_combo_3_identical_bool
df['3_combo_cat'] = list_combo_3_identical_cat

df['4_combo_bool'] = list_combo_4_identical_bool
df['4_combo_cat'] = list_combo_4_identical_cat

df['5_combo_bool'] = list_combo_5_identical_bool
df['5_combo_cat'] = list_combo_5_identical_cat

df['6_combo_bool'] = list_combo_6_identical_bool
df['6_combo_cat'] = list_combo_6_identical_cat

df['3_combo_s'] = list_3_combo_s
df['3_combo_57'] = list_3_combo_57
df['3_combo_689'] = list_3_combo_689

df['4_combo_s'] = list_4_combo_s
df['4_combo_57'] = list_4_combo_57
df['4_combo_689'] = list_4_combo_689

In [17]:
df

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,5_combo_bool,5_combo_cat,6_combo_bool,6_combo_cat,3_combo_s,3_combo_57,3_combo_689,4_combo_s,4_combo_57,4_combo_689
0,1750000,315667012,12,012,7012,67012,3,0,,0,...,0,,0,,0,0,0,0,0,0
1,1200000,322044994,94,994,4994,44994,3,0,,0,...,0,,0,,0,0,0,0,0,0
2,1000000,323860456,56,456,0456,60456,3,0,,0,...,0,,0,,0,0,0,0,0,0
3,950000,324373123,23,123,3123,73123,3,0,,0,...,0,,0,,0,0,0,0,0,0
4,900000,324474739,39,739,4739,74739,3,0,,0,...,0,,0,,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031716,2050000,997999953,53,953,9953,99953,9,1,999,1,...,0,,0,,0,0,1,0,0,1
1031717,3000000,997999960,60,960,9960,99960,9,1,999,1,...,0,,0,,0,0,1,0,0,1
1031718,3000000,997999962,62,962,9962,99962,9,1,999,1,...,0,,0,,0,0,1,0,0,1
1031719,3000000,997999963,63,963,9963,99963,9,1,999,1,...,0,,0,,0,0,1,0,0,1
1031720,5000000,997999980,80,980,9980,99980,9,1,999,1,...,0,,0,,0,0,1,0,0,1

In [18]:
df['6_combo_bool'].value_counts()

0    1031428
1        293
Name: 6_combo_bool, dtype: int64

In [19]:
df[df['3_combo_bool']==2]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,5_combo_bool,5_combo_cat,6_combo_bool,6_combo_cat,3_combo_s,3_combo_57,3_combo_689,4_combo_s,4_combo_57,4_combo_689
1534,3500000,325554445,45,445,4445,54445,3,2,444555,0,...,0,,0,,1,1,0,0,0,0
1540,1650000,325556661,61,661,6661,56661,3,2,555666,0,...,0,,0,,0,1,1,0,0,0
1552,4750000,325559993,93,993,9993,59993,3,2,999555,0,...,0,,0,,0,1,1,0,0,0
2949,32000000,326000777,77,777,0777,00777,3,2,777000,0,...,0,,0,,1,1,0,0,0,0
3246,22800000,326111777,77,777,1777,11777,3,2,777111,0,...,0,,0,,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029936,250000000,995111999,99,999,1999,11999,9,2,999111,0,...,0,,0,,1,0,1,0,0,0
1030636,5000000,996663444,44,444,3444,63444,9,2,444666,0,...,0,,0,,1,0,1,0,0,0
1030791,80000000,996888777,77,777,8777,88777,9,2,888777,0,...,0,,0,,0,1,1,0,0,0
1031507,130000000,997773333,33,333,3333,73333,9,2,333777,1,...,0,,0,,1,1,0,1,0,0
1031509,350000000,997776666,66,666,6666,76666,9,2,666777,1,...,0,,0,,0,1,1,0,0,1

In [20]:
list_2_lucky_last_bool = list()
list_2_lucky_last_cat = list()

for i in list_2_last:
    if (i == '68' or i == '86' or i == '78' or i == '79' or i == '39' or i == '38' or i =='83'):
        list_2_lucky_last_bool.append(1)
        list_2_lucky_last_cat.append(i)
    else:
        list_2_lucky_last_bool.append(0)
        list_2_lucky_last_cat.append('')


df['2_lucky_last_bool'] = list_2_lucky_last_bool # check if the phone number has 2 last "lucky number" or not
df['2_lucky_last_cat'] = list_2_lucky_last_cat

In [21]:
list_3_last_iden_bool = list()
list_3_last_iden_cat = list()

for x in list_3_last:
    if (x == '111' or x == '222' or x == '333' or x == '444' or x == '555' or x == '666' or x == '777' or x == '888' or x == '999'):
        list_3_last_iden_bool.append(1)
        list_3_last_iden_cat.append(x)
    else:
        list_3_last_iden_bool.append(0)
        list_3_last_iden_cat.append('')


df['3_last_iden_bool'] = list_3_last_iden_bool # if the phone number have 3 last number indentical or not
df['3_last_iden_cat'] = list_3_last_iden_cat

In [22]:
list_4_last_iden_bool = list()
list_4_last_iden_cat = list()

for x in list_4_last:
    if (x == '1111' or x == '2222' or x == '3333' or x == '4444' or x == '5555' or x == '6666' or x == '7777' or x == '8888' or x == '9999'):
        list_4_last_iden_bool.append(1)
        list_4_last_iden_cat.append(x)
    else:
        list_4_last_iden_bool.append(0)
        list_4_last_iden_cat.append('')


df['4_last_iden_bool'] = list_4_last_iden_bool # if the phone number have 4 last number indentical or not
df['4_last_iden_cat'] = list_4_last_iden_cat

In [23]:
list_5_last_iden_bool = list()
list_5_last_iden_cat = list()

for x in list_5_last:
    if (x == '11111' or x == '22222' or x == '33333' or x == '44444' or x == '55555' or x == '66666' or x == '77777' or x == '88888' or x == '99999'):
        list_5_last_iden_bool.append(1)
        list_5_last_iden_cat.append(x)
    else:
        list_5_last_iden_bool.append(0)
        list_5_last_iden_cat.append('')


df['5_last_iden_bool'] = list_5_last_iden_bool # if the phone number have 4 last number indentical or not
df['5_last_iden_cat'] = list_5_last_iden_cat

In [24]:
df.head(10)

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,4_combo_57,4_combo_689,2_lucky_last_bool,2_lucky_last_cat,3_last_iden_bool,3_last_iden_cat,4_last_iden_bool,4_last_iden_cat,5_last_iden_bool,5_last_iden_cat
0,1750000,315667012,12,012,7012,67012,3,0,,0,...,0,0,0,,0,,0,,0,
1,1200000,322044994,94,994,4994,44994,3,0,,0,...,0,0,0,,0,,0,,0,
2,1000000,323860456,56,456,0456,60456,3,0,,0,...,0,0,0,,0,,0,,0,
3,950000,324373123,23,123,3123,73123,3,0,,0,...,0,0,0,,0,,0,,0,
4,900000,324474739,39,739,4739,74739,3,0,,0,...,0,0,1,39,0,,0,,0,
5,900000,325000119,19,119,0119,00119,3,1,000,0,...,0,0,0,,0,,0,,0,
6,900000,325000139,39,139,0139,00139,3,1,000,0,...,0,0,1,39,0,,0,,0,
7,1550000,325000368,68,368,0368,00368,3,1,000,0,...,0,0,1,68,0,,0,,0,
8,750000,325000440,40,440,0440,00440,3,1,000,0,...,0,0,0,,0,,0,,0,
9,2500000,325000456,56,456,0456,00456,3,1,000,0,...,0,0,0,,0,,0,,0,

In [25]:
list_3_last_increasing_sample = ('012','123','234','345','456','567','678','789','024','135','246','357','468','579','036','147','258','369','048','159')
list_3_last_increasing_bool = list()
list_3_last_increasing_cat = list()

for x in list_3_last:
    if list_3_last_increasing_sample.count(x)>0:
        list_3_last_increasing_bool.append(1)
        list_3_last_increasing_cat.append(x)
    else:
        list_3_last_increasing_bool.append(0) # 3-last increasing number 
        list_3_last_increasing_cat.append('')

In [26]:
df['3_last_increasing_bool'] = list_3_last_increasing_bool
df['3_last_increasing_cat'] = list_3_last_increasing_cat

In [27]:
list_4_last_increasing_sample = ('0123','1234','2345','3456','4567','5678','6789','0246','1357','2468','3579','0369')
list_4_last_increasing_bool = list()
list_4_last_increasing_cat = list()

for x in list_4_last:
    if list_4_last_increasing_sample.count(x)>0:
        list_4_last_increasing_bool.append(1)
        list_4_last_increasing_cat.append(x)
    else:
        list_4_last_increasing_bool.append(0)
        list_4_last_increasing_cat.append(x)

In [28]:
df['4_last_increasing_bool'] = list_4_last_increasing_bool
df['4_last_increasing_cat'] = list_4_last_increasing_cat

In [29]:
list_5_last_increasing_sample = ('01234','12345','23456','34567','45678','56789','02468','13579')
list_5_last_increasing_bool = list()
list_5_last_increasing_cat = list()

for x in list_5_last:
    if list_5_last_increasing_sample.count(x)>0:
        list_5_last_increasing_bool.append(1)
        list_5_last_increasing_cat.append(x)
    else:
        list_5_last_increasing_bool.append(0)
        list_5_last_increasing_cat.append(0)

df['5_last_increasing_bool'] = list_5_last_increasing_bool
df['5_last_increasing_cat'] = list_5_last_increasing_cat

In [30]:
df[df['5_last_increasing_bool'] == 1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,4_last_iden_bool,4_last_iden_cat,5_last_iden_bool,5_last_iden_cat,3_last_increasing_bool,3_last_increasing_cat,4_last_increasing_bool,4_last_increasing_cat,5_last_increasing_bool,5_last_increasing_cat
238,10000000,325102468,68,468,2468,02468,3,0,,0,...,0,,0,,1,468,1,2468,1,02468
4742,35000000,326645678,78,678,5678,45678,3,0,,0,...,0,,0,,1,678,1,5678,1,45678
5837,75000000,327056789,89,789,6789,56789,3,0,,0,...,0,,0,,1,789,1,6789,1,56789
14667,20000000,332013579,79,579,3579,13579,3,0,,0,...,0,,0,,1,579,1,3579,1,13579
14912,20000000,332113579,79,579,3579,13579,3,0,,0,...,0,,0,,1,579,1,3579,1,13579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988051,420000000,977356789,89,789,6789,56789,9,0,,0,...,0,,0,,1,789,1,6789,1,56789
994410,280000000,978923456,56,456,3456,23456,9,0,,0,...,0,,0,,1,456,1,3456,1,23456
998608,22000000,981702468,68,468,2468,02468,9,0,,0,...,0,,0,,1,468,1,2468,1,02468
1014593,108000000,985834567,67,567,4567,34567,9,0,,0,...,0,,0,,1,567,1,4567,1,34567
1030753,75000000,996834567,67,567,4567,34567,9,0,,0,...,0,,0,,1,567,1,4567,1,34567

In [31]:
# df.to_csv('features_engineering_sim.csv', encoding='utf-8', index=False)

## 10 feat from number position in phone_number

In [32]:
#10 feat from number position in phone_number
import numpy as np

list_char = np.full((df.shape[0], 9), "-1")

for i in range(len(list_number)):
  k = 8
  for j in range(len(list_number[i])-1, 0, -1):
    list_char[i][k] = list_number[i][j]
    k-=1
    
    if(k==0):
      list_char[i][k] = list_number[i][0:j]
      break

In [33]:
list_char.shape

(1031721, 9)

In [34]:
for i in range(9):
  df['pos_' + str(i+1)] = list_char[:,i]

## Feat from counting frequency

In [35]:
list_number = df['phone_number'].to_list()

list_count = np.full((df.shape[0], 10), 0)

for i in range(len(list_number)):
    for j in range(len(list_number[i])):
        tmp = int(list_number[i][j])
        list_count[i][tmp] += 1

In [36]:
for i in range(10):
  df['count_' + str(i)] = list_count[:,i]

In [37]:
max_count = [0 for i in range(len(list_number))]
for i in range(len(list_number)):
    max_c = 0
    pos = 0
    for j in range(len(list_count[i])):
        if list_count[i][j] >= max_c:
            max_c = list_count[i][j]
            pos = j
    
    max_count[i] = pos
    
df['max_count'] = max_count

## Year born feat

In [38]:
#Year born 196x
list_nam_sinh_6x  = []
for i in list_number:
    if 1960<= int(i[-4:]) <= 1969:
        list_nam_sinh_6x.append(int(i[-4:]))
    else:
        list_nam_sinh_6x.append(0)
        
#Year born 197x
list_nam_sinh_7x  = []
for i in list_number:
    if 1970<= int(i[-4:]) <= 1979:
        list_nam_sinh_7x.append(int(i[-4:]))
    else:
        list_nam_sinh_7x.append(0)
        
#Year born 198x
list_nam_sinh_8x  = []
for i in list_number:
    if 1980<= int(i[-4:]) <= 1989:
        list_nam_sinh_8x.append(int(i[-4:]))
    else:
        list_nam_sinh_8x.append(0)
        
#Year born 199x
list_nam_sinh_9x  = []
for i in list_number:
    if 1990<= int(i[-4:]) <= 1999:
        list_nam_sinh_9x.append(int(i[-4:]))
    else:
        list_nam_sinh_9x.append(0)
        
#Year born 2k
list_nam_sinh_2k  = []
for i in list_number:
    if 2000<= int(i[-4:]) <= 2010:
        list_nam_sinh_2k.append(int(i[-4:]))
    else:
        list_nam_sinh_2k.append(0)

In [39]:
df['nam_sinh_6x'] = list_nam_sinh_6x
df['nam_sinh_7x'] = list_nam_sinh_7x
df['nam_sinh_8x'] = list_nam_sinh_8x
df['nam_sinh_9x'] = list_nam_sinh_9x
df['nam_sinh_2k'] = list_nam_sinh_2k

In [40]:
df[df['nam_sinh_6x'] != 0]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,count_6,count_7,count_8,count_9,max_count,nam_sinh_6x,nam_sinh_7x,nam_sinh_8x,nam_sinh_9x,nam_sinh_2k
17,980000,325001960,60,960,1960,01960,3,0,,0,...,1,0,0,1,0,1960,0,0,0,0
56,1550000,325011960,60,960,1960,11960,3,0,,0,...,1,0,0,1,1,1960,0,0,0,0
95,2100000,325021963,63,963,1963,21963,3,0,,0,...,1,0,0,1,3,1963,0,0,0,0
133,1090000,325041960,60,960,1960,41960,3,0,,0,...,1,0,0,1,0,1960,0,0,0,0
134,2050000,325041965,65,965,1965,41965,3,0,,0,...,1,0,0,1,5,1965,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030935,850000,996971968,68,968,1968,71968,9,0,,0,...,2,1,1,4,9,1968,0,0,0,0
1031068,800000,997221967,67,967,1967,21967,9,0,,0,...,1,2,0,3,9,1967,0,0,0,0
1031069,1100000,997221968,68,968,1968,21968,9,0,,0,...,1,1,1,3,9,1968,0,0,0,0
1031070,1100000,997221969,69,969,1969,21969,9,0,,0,...,1,1,0,4,9,1969,0,0,0,0
1031121,1050000,997291968,68,968,1968,91968,9,0,,0,...,1,1,1,4,9,1968,0,0,0,0

In [41]:
df.columns

Index(['price_vnd', 'phone_number', '2_last', '3_last', '4_last', '5_last',
       'first', '3_combo_bool', '3_combo_cat', '4_combo_bool', '4_combo_cat',
       '5_combo_bool', '5_combo_cat', '6_combo_bool', '6_combo_cat',
       '3_combo_s', '3_combo_57', '3_combo_689', '4_combo_s', '4_combo_57',
       '4_combo_689', '2_lucky_last_bool', '2_lucky_last_cat',
       '3_last_iden_bool', '3_last_iden_cat', '4_last_iden_bool',
       '4_last_iden_cat', '5_last_iden_bool', '5_last_iden_cat',
       '3_last_increasing_bool', '3_last_increasing_cat',
       '4_last_increasing_bool', '4_last_increasing_cat',
       '5_last_increasing_bool', '5_last_increasing_cat', 'pos_1', 'pos_2',
       'pos_3', 'pos_4', 'pos_5', 'pos_6', 'pos_7', 'pos_8', 'pos_9',
       'count_0', 'count_1', 'count_2', 'count_3', 'count_4', 'count_5',
       'count_6', 'count_7', 'count_8', 'count_9', 'max_count', 'nam_sinh_6x',
       'nam_sinh_7x', 'nam_sinh_8x', 'nam_sinh_9x', 'nam_sinh_2k'],
      dtype='object')

In [42]:
len(list_3_last_increasing_bool)

1031721

In [43]:
print(list_number[0])
print(list_number[0][3:6])

315667012
667

In [44]:
list_double_3_increasing = []

for i in range(len(list_number)):
    if (list_3_last_increasing_bool[i] == 1):
        if (list_number[i][3:6] == list_3_last[i]):
            list_double_3_increasing.append(1)
        else: list_double_3_increasing.append(0)
    else: list_double_3_increasing.append(0)
        
len(list_double_3_increasing)

1031721

In [45]:
df['list_double_3_increasing']= list_double_3_increasing
df[df['list_double_3_increasing']==1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,count_7,count_8,count_9,max_count,nam_sinh_6x,nam_sinh_7x,nam_sinh_8x,nam_sinh_9x,nam_sinh_2k,list_double_3_increasing
5119,115000000,326789789,89,789,9789,89789,3,0,,0,...,2,2,2,9,0,0,0,0,0,1
9984,27000000,328456456,56,456,6456,56456,3,0,,0,...,0,1,0,6,0,0,0,0,0,1
10943,119400000,328789789,89,789,9789,89789,3,0,,0,...,2,3,2,8,0,0,0,0,0,1
13913,150000000,329789789,89,789,9789,89789,3,0,,0,...,2,2,3,9,0,0,0,0,0,1
14662,20000000,332012012,12,012,2012,12012,3,0,,0,...,0,0,0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029636,35700000,994345345,45,345,5345,45345,9,0,,0,...,0,0,2,4,0,0,0,0,0,1
1030317,450000000,995789789,89,789,9789,89789,9,0,,0,...,2,2,4,9,0,0,0,0,0,1
1030466,25000000,996135135,35,135,5135,35135,9,0,,0,...,0,0,2,9,0,0,0,0,0,1
1030496,38000000,996234234,34,234,4234,34234,9,0,,0,...,0,0,2,9,0,0,0,0,0,1
1031535,450000000,997789789,89,789,9789,89789,9,0,,0,...,3,2,4,9,0,0,0,0,0,1

In [46]:
list_double_4_increasing = []

for i in range(len(list_number)):
    if (list_4_last_increasing_bool[i] == 1):
        if (list_number[i][1:5] == list_4_last[i]):
            list_double_4_increasing.append(1)
        else: list_double_4_increasing.append(0)
    else: list_double_4_increasing.append(0)
        
len(list_double_4_increasing)

1031721

In [47]:
df['list_double_4_increasing']= list_double_4_increasing
df[df['list_double_4_increasing']==1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,count_8,count_9,max_count,nam_sinh_6x,nam_sinh_7x,nam_sinh_8x,nam_sinh_9x,nam_sinh_2k,list_double_3_increasing,list_double_4_increasing
781447,260000000,923452345,45,345,2345,52345,9,0,,0,...,0,1,5,0,0,0,0,0,0,1

In [48]:
list_double_3_last = []

for i in range(len(list_number)):
        if (list_number[i][3:6] == list_3_last[i]):
            list_double_3_last.append(1)
        else: list_double_3_last.append(0)
        
len(list_double_3_last)

1031721

In [49]:
df['list_double_3_last']= list_double_3_last
df[df['list_double_3_last']==1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,count_9,max_count,nam_sinh_6x,nam_sinh_7x,nam_sinh_8x,nam_sinh_9x,nam_sinh_2k,list_double_3_increasing,list_double_4_increasing,list_double_3_last
3066,2350000,326040040,40,040,0040,40040,3,0,,0,...,0,0,0,0,0,0,0,0,0,1
3110,5700000,326059059,59,059,9059,59059,3,0,,0,...,2,9,0,0,0,0,0,0,0,1
3133,5600000,326070070,70,070,0070,70070,3,0,,0,...,0,0,0,0,0,0,0,0,0,1
3189,7500000,326092092,92,092,2092,92092,3,0,,0,...,2,2,0,0,0,0,0,0,0,1
3197,4000000,326097097,97,097,7097,97097,3,0,,0,...,2,9,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031698,50000000,997969969,69,969,9969,69969,9,0,,0,...,6,9,0,0,0,0,0,0,0,1
1031708,30000000,997986986,86,986,6986,86986,9,0,,0,...,4,9,0,0,0,0,0,0,0,1
1031710,135000000,997989989,89,989,9989,89989,9,0,,0,...,6,9,0,0,0,0,0,0,0,1
1031712,35000000,997990990,90,990,0990,90990,9,0,,0,...,6,9,0,0,0,0,0,0,0,1
1031714,15000000,997994994,94,994,4994,94994,9,0,,0,...,6,9,0,0,0,0,0,0,0,1

In [50]:
list_triple_2_last_r1 = [] # list for triple 2 last but too not 'beautiful'
tmp_list = [5,6,8,9]

for i in range(len(list_number)):
    if(list_char[i][8] in tmp_list and list_char[i][7] in tmp_list ):
        list_triple_2_last_r1.append(0)
    else:
        if (list_number[i][3:5] == list_number[i][5:7] == list_2_last[i]):
            list_triple_2_last_r1.append(1)
        else:
            list_triple_2_last_r1.append(0)
        
        
len(list_triple_2_last_r1)

1031721

In [51]:
df['triple_2_last_r1'] = list_triple_2_last_r1
df[df['triple_2_last_r1'] == 1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,max_count,nam_sinh_6x,nam_sinh_7x,nam_sinh_8x,nam_sinh_9x,nam_sinh_2k,list_double_3_increasing,list_double_4_increasing,list_double_3_last,triple_2_last_r1
3163,33600000,326080808,08,808,0808,80808,3,0,,0,...,8,0,0,0,0,0,0,0,0,1
3845,30000000,326313131,31,131,3131,13131,3,0,,0,...,3,0,0,0,0,0,0,0,0,1
4166,18000000,326414141,41,141,4141,14141,3,0,,0,...,4,0,0,0,0,0,0,0,0,1
5277,35000000,326848484,84,484,8484,48484,3,0,,0,...,8,0,0,0,0,0,0,0,0,1
5405,55300000,326898989,89,989,8989,98989,3,0,,0,...,9,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031158,58000000,997323232,32,232,3232,23232,9,0,,0,...,3,0,0,0,0,0,0,0,0,1
1031274,150000000,997373737,37,737,3737,73737,9,0,,0,...,7,0,0,0,0,0,0,0,0,1
1031645,1111000000,997898989,89,989,8989,98989,9,0,,0,...,9,0,0,0,0,0,0,0,0,1
1031672,99000000,997939393,93,393,9393,39393,9,0,,0,...,9,0,0,0,0,0,0,0,0,1
1031709,350000000,997989898,98,898,9898,89898,9,0,,0,...,9,0,0,0,0,0,0,0,0,1

In [52]:
list_phat_loc_2_bool = []
list_phat_loc_2_cat = []

list_phat_loc_4_bool = []
list_phat_loc_4_cat = []

list_phat_loc_2_sample = ['68','86']
list_phat_loc_4_sample = ['6688','6868','6886', '8668']

for x in list_2_last:
    if list_phat_loc_2_sample.count(x)>0:
        list_phat_loc_2_bool.append(1)
        list_phat_loc_2_cat.append(x)
    else:
        list_phat_loc_2_bool.append(0)
        list_phat_loc_2_cat.append('')
        

for x in list_4_last:
    if list_phat_loc_4_sample.count(x)>0:
        list_phat_loc_4_bool.append(1)
        list_phat_loc_4_cat.append(x)
    else:
        list_phat_loc_4_bool.append(0)
        list_phat_loc_4_cat.append('')      
        
df['phat_loc_2_bool'] = list_phat_loc_2_bool
df['phat_loc_2_cat'] = list_phat_loc_2_cat

df['phat_loc_4_bool'] = list_phat_loc_4_bool
df['phat_loc_4_cat'] = list_phat_loc_4_cat

In [53]:
df[df['4_last'] == '6868']

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,nam_sinh_9x,nam_sinh_2k,list_double_3_increasing,list_double_4_increasing,list_double_3_last,triple_2_last_r1,phat_loc_2_bool,phat_loc_2_cat,phat_loc_4_bool,phat_loc_4_cat
5361,50000000,326886868,68,868,6868,86868,3,0,,0,...,0,0,0,0,0,0,1,68,1,6868
6943,7000000,327496868,68,868,6868,96868,3,0,,0,...,0,0,0,0,0,0,1,68,1,6868
10576,45000000,328666868,68,868,6868,66868,3,1,666,0,...,0,0,0,0,0,0,1,68,1,6868
16280,10000000,332576868,68,868,6868,76868,3,0,,0,...,0,0,0,0,0,0,1,68,1,6868
27940,9100000,336576868,68,868,6868,76868,3,0,,0,...,0,0,0,0,0,0,1,68,1,6868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022921,69000000,987916868,68,868,6868,16868,9,0,,0,...,0,0,0,0,0,0,1,68,1,6868
1026605,180000000,988856868,68,868,6868,56868,9,1,888,0,...,0,0,0,0,0,0,1,68,1,6868
1027699,99000000,989316868,68,868,6868,16868,9,0,,0,...,0,0,0,0,0,0,1,68,1,6868
1029302,1249000000,993686868,68,868,6868,86868,9,0,,0,...,0,0,0,0,0,1,1,68,1,6868
1030273,800000000,995686868,68,868,6868,86868,9,0,,0,...,0,0,0,0,0,1,1,68,1,6868

In [54]:
# Sim kep duoi (ABB.CDD) va sim lap dau(ABC.ABD), lap cuoi (ABC.DBC)

list_kep_duoi_bool = []
list_kep_duoi_cat = []

list_lap_dau_bool = []
list_lap_dau_cat = []

list_lap_cuoi_bool = []
list_lap_cuoi_cat = []

for x in list_number:
    if (x[4:6] == x[7:]):
        list_lap_cuoi_bool.append(1)
        list_lap_cuoi_cat.append(x[4:6])
        
        if (x[7] == x[8]):
            list_kep_duoi_bool.append(1)
            list_kep_duoi_cat.append(x[8])
        else:
            list_kep_duoi_bool.append(0)
            list_kep_duoi_cat.append('')
    else:
        list_lap_cuoi_bool.append(0)
        list_lap_cuoi_cat.append('')
        
        list_kep_duoi_bool.append(0)
        list_kep_duoi_cat.append('')
        
    if (x[3:5] == x[6:8]):
        list_lap_dau_bool.append(1)
        list_lap_dau_cat.append(x[3:5])
    else:
        list_lap_dau_bool.append(0)
        list_lap_dau_cat.append('')

In [55]:
len(list_lap_cuoi_cat)

1031721

In [56]:
df['kep_duoi_bool'] = list_kep_duoi_bool
df['kep_duoi_cat'] = list_kep_duoi_cat

df['lap_dau_bool'] = list_lap_dau_bool
df['lap_dau_cat'] = list_lap_dau_cat

df['lap_cuoi_bool'] = list_lap_cuoi_bool
df['lap_cuoi_cat'] = list_lap_cuoi_cat

In [57]:
df[df['lap_dau_bool'] == 1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,phat_loc_2_bool,phat_loc_2_cat,phat_loc_4_bool,phat_loc_4_cat,kep_duoi_bool,kep_duoi_cat,lap_dau_bool,lap_dau_cat,lap_cuoi_bool,lap_cuoi_cat
42,1420000,325010012,12,012,0012,10012,3,0,,0,...,0,,0,,0,,1,01,0,
66,13500000,325012010,10,010,2010,12010,3,0,,0,...,0,,0,,0,,1,01,0,
116,700000,325029020,20,020,9020,29020,3,0,,0,...,0,,0,,0,,1,02,0,
142,700000,325047048,48,048,7048,47048,3,0,,0,...,0,,0,,0,,1,04,0,
220,650000,325094095,95,095,4095,94095,3,0,,0,...,0,,0,,0,,1,09,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031698,50000000,997969969,69,969,9969,69969,9,0,,0,...,0,,0,,0,,1,96,1,69
1031708,30000000,997986986,86,986,6986,86986,9,0,,0,...,1,86,0,,0,,1,98,1,86
1031710,135000000,997989989,89,989,9989,89989,9,0,,0,...,0,,0,,0,,1,98,1,89
1031712,35000000,997990990,90,990,0990,90990,9,0,,0,...,0,,0,,0,,1,99,1,90
1031714,15000000,997994994,94,994,4994,94994,9,0,,0,...,0,,0,,0,,1,99,1,94

In [58]:
list_2_lap_t1 = [] #ABAB, A>B
list_2_lap_t2 = [] # ABAB, A<B

list_2_lap_t3 = [] # AABB, A>B
list_2_lap_t4 = [] # AABB, A<B

for i in range(len(list_number)):
    if (list_number[i][5:7] == list_number[i][7:]):
        if (int(list_number[i][7]) < int(list_number[i][8])):
            list_2_lap_t2.append(1)
            list_2_lap_t1.append(0)
        elif(int(list_number[i][7]) > int(list_number[i][8])):
            list_2_lap_t1.append(1)
            list_2_lap_t2.append(0)
        else:
            list_2_lap_t1.append(0)
            list_2_lap_t2.append(0)
            
    else:
        list_2_lap_t1.append(0)
        list_2_lap_t2.append(0)
        
    
    if (list_number[i][5]==list_number[i][6] and list_number[i][7]==list_number[i][8]):
        if(list_number[i][5] < list_number[i][7]):
            list_2_lap_t4.append(1)
            list_2_lap_t3.append(0)
        elif(list_number[i][5] > list_number[i][7]):
            list_2_lap_t4.append(0)
            list_2_lap_t3.append(1)
        else:
            list_2_lap_t4.append(0)
            list_2_lap_t3.append(0)
        
    else:
        list_2_lap_t4.append(0)
        list_2_lap_t3.append(0)

In [59]:
len(list_2_lap_t3)

1031721

In [60]:
df['2_lap_t1'] = list_2_lap_t1
df['2_lap_t2'] = list_2_lap_t2
df['2_lap_t3'] = list_2_lap_t3
df['2_lap_t4'] = list_2_lap_t4

In [61]:
df.columns

Index(['price_vnd', 'phone_number', '2_last', '3_last', '4_last', '5_last',
       'first', '3_combo_bool', '3_combo_cat', '4_combo_bool', '4_combo_cat',
       '5_combo_bool', '5_combo_cat', '6_combo_bool', '6_combo_cat',
       '3_combo_s', '3_combo_57', '3_combo_689', '4_combo_s', '4_combo_57',
       '4_combo_689', '2_lucky_last_bool', '2_lucky_last_cat',
       '3_last_iden_bool', '3_last_iden_cat', '4_last_iden_bool',
       '4_last_iden_cat', '5_last_iden_bool', '5_last_iden_cat',
       '3_last_increasing_bool', '3_last_increasing_cat',
       '4_last_increasing_bool', '4_last_increasing_cat',
       '5_last_increasing_bool', '5_last_increasing_cat', 'pos_1', 'pos_2',
       'pos_3', 'pos_4', 'pos_5', 'pos_6', 'pos_7', 'pos_8', 'pos_9',
       'count_0', 'count_1', 'count_2', 'count_3', 'count_4', 'count_5',
       'count_6', 'count_7', 'count_8', 'count_9', 'max_count', 'nam_sinh_6x',
       'nam_sinh_7x', 'nam_sinh_8x', 'nam_sinh_9x', 'nam_sinh_2k',
       'list_double_3_increasing', 'list_double_4_increasing',
       'list_double_3_last', 'triple_2_last_r1', 'phat_loc_2_bool',
       'phat_loc_2_cat', 'phat_loc_4_bool', 'phat_loc_4_cat', 'kep_duoi_bool',
       'kep_duoi_cat', 'lap_dau_bool', 'lap_dau_cat', 'lap_cuoi_bool',
       'lap_cuoi_cat', '2_lap_t1', '2_lap_t2', '2_lap_t3', '2_lap_t4'],
      dtype='object')

In [62]:
df[df['3_combo_cat'] == '111' ]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,kep_duoi_bool,kep_duoi_cat,lap_dau_bool,lap_dau_cat,lap_cuoi_bool,lap_cuoi_cat,2_lap_t1,2_lap_t2,2_lap_t3,2_lap_t4
14,750000,325001114,14,114,1114,01114,3,1,111,0,...,0,,0,,0,,0,0,0,0
52,1550000,325011101,01,101,1101,11101,3,1,111,0,...,0,,0,,0,,0,0,0,0
132,700000,325041110,10,110,1110,41110,3,1,111,0,...,0,,0,,0,,0,0,0,0
221,1550000,325094111,11,111,4111,94111,3,1,111,0,...,0,,0,,0,,0,0,0,0
252,3000000,325111103,03,103,1103,11103,3,1,111,1,...,0,,0,,0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031387,1090000,997601112,12,112,1112,01112,9,1,111,0,...,0,,0,,0,,0,0,0,0
1031484,3370000,997711102,02,102,1102,11102,9,1,111,0,...,0,,0,,0,,0,0,0,0
1031548,15000000,997811118,18,118,1118,11118,9,1,111,1,...,0,,0,,0,,0,0,0,0
1031648,700000,997901119,19,119,1119,01119,9,1,111,0,...,0,,0,,0,,0,0,0,0
1031651,25000000,997911119,19,119,1119,11119,9,1,111,1,...,0,,0,,0,,0,0,0,0

In [63]:
df[df['3_combo_s'] == 2]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,kep_duoi_bool,kep_duoi_cat,lap_dau_bool,lap_dau_cat,lap_cuoi_bool,lap_cuoi_cat,2_lap_t1,2_lap_t2,2_lap_t3,2_lap_t4
5691,16280000,327000111,11,111,0111,00111,3,2,111000,0,...,0,,0,,0,,0,0,0,0
6269,19000000,327222000,00,000,2000,22000,3,2,222000,0,...,0,,0,,0,,0,0,0,0
6270,14500000,327222111,11,111,2111,22111,3,2,222111,0,...,0,,0,,0,,0,0,0,0
8800,18000000,328111000,00,000,1000,11000,3,2,111000,0,...,0,,0,,0,,0,0,0,0
15880,15000000,332444111,11,111,4111,44111,3,2,444111,0,...,0,,0,,0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994801,268000000,979000333,33,333,0333,00333,9,2,333000,0,...,0,,0,,0,,0,0,0,0
1000570,12000000,982228000,00,000,8000,28000,9,2,222000,0,...,0,,0,,0,,0,0,0,0
1004720,85000000,983333111,11,111,3111,33111,9,2,333111,1,...,0,,0,,0,,0,0,0,0
1008891,5000000,984440004,04,004,0004,40004,9,2,444000,0,...,0,,0,,0,,0,0,0,0
1023683,350000000,988111333,33,333,1333,11333,9,2,333111,0,...,0,,0,,0,,0,0,0,0

In [64]:
list_1_3_5_iden_bool = []
list_1_3_5_iden_cat = []

list_2_4_6_iden_bool = []
list_2_4_6_iden_cat = []

list_3_5_7_iden_bool = []
list_3_5_7_iden_cat = []

list_4_6_8_iden_bool = []
list_4_6_8_iden_cat = []

list_5_7_9_iden_bool = []
list_5_7_9_iden_cat = []

for i in range(len(list_number)):
    if ( (list_number[i][0] == list_number[i][2]) and (list_number[i][0] == list_number[i][4])):
        list_1_3_5_iden_bool.append(1)
        list_1_3_5_iden_cat.append((int)(list_number[i][0]))
    else:
        list_1_3_5_iden_bool.append(0)
        list_1_3_5_iden_cat.append(-1)
                                   
    if ( (list_number[i][1] == list_number[i][3]) and (list_number[i][1] == list_number[i][5])):
        list_2_4_6_iden_bool.append(1)
        list_2_4_6_iden_cat.append((int)(list_number[i][1]))
    else:
        list_2_4_6_iden_bool.append(0)
        list_2_4_6_iden_cat.append(-1)
    
    if ((list_number[i][2] == list_number[i][4]) and (list_number[i][2] == list_number[i][6])):
        list_3_5_7_iden_bool.append(1)
        list_3_5_7_iden_cat.append((int)(list_number[i][2]))
    else:
        list_3_5_7_iden_bool.append(0)
        list_3_5_7_iden_cat.append(-1)
    
    if ((list_number[i][3] == list_number[i][5]) and (list_number[i][3] == list_number[i][7])):
        list_4_6_8_iden_bool.append(1)
        list_4_6_8_iden_cat.append((int)(list_number[i][3]))
    else:
        list_4_6_8_iden_bool.append(0)
        list_4_6_8_iden_cat.append(-1)
                                   
    if ( (list_number[i][4] == list_number[i][6]) and (list_number[i][4] == list_number[i][8])):
        list_5_7_9_iden_bool.append(1)
        list_5_7_9_iden_cat.append((int)(list_number[i][4]))
    else:
        list_5_7_9_iden_bool.append(0)
        list_5_7_9_iden_cat.append(-1)

In [65]:
print(len(list_3_5_7_iden_cat))

1031721

In [66]:
df['1_3_5_iden_bool'] = list_1_3_5_iden_bool
df['1_3_5_iden_cat'] = list_1_3_5_iden_cat

df['2_4_6_iden_bool'] = list_2_4_6_iden_bool
df['2_4_6_iden_cat'] = list_2_4_6_iden_cat

df['3_5_7_iden_bool'] = list_3_5_7_iden_bool
df['3_5_7_iden_cat'] = list_3_5_7_iden_cat

df['4_6_8_iden_bool'] = list_4_6_8_iden_bool
df['4_6_8_iden_cat'] = list_4_6_8_iden_cat

df['5_7_9_iden_bool'] = list_5_7_9_iden_bool
df['5_7_9_iden_cat'] = list_5_7_9_iden_cat

In [67]:
df[df['5_7_9_iden_bool']==1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,1_3_5_iden_bool,1_3_5_iden_cat,2_4_6_iden_bool,2_4_6_iden_cat,3_5_7_iden_bool,3_5_7_iden_cat,4_6_8_iden_bool,4_6_8_iden_cat,5_7_9_iden_bool,5_7_9_iden_cat
38,700000,325008040,40,040,8040,08040,3,0,,0,...,0,-1,0,-1,0,-1,0,-1,1,0
44,830000,325010141,41,141,0141,10141,3,0,,0,...,0,-1,0,-1,0,-1,0,-1,1,1
52,1550000,325011101,01,101,1101,11101,3,1,111,0,...,0,-1,0,-1,0,-1,0,-1,1,1
78,600000,325016101,01,101,6101,16101,3,0,,0,...,0,-1,0,-1,0,-1,0,-1,1,1
89,750000,325020252,52,252,0252,20252,3,0,,0,...,0,-1,0,-1,0,-1,0,-1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031672,99000000,997939393,93,393,9393,39393,9,0,,0,...,0,-1,1,9,0,-1,1,9,1,3
1031692,3300000,997966696,96,696,6696,66696,9,1,666,0,...,0,-1,0,-1,0,-1,0,-1,1,6
1031706,30000000,997983888,88,888,3888,83888,9,1,888,0,...,0,-1,0,-1,0,-1,0,-1,1,8
1031709,350000000,997989898,98,898,9898,89898,9,0,,0,...,0,-1,1,9,0,-1,1,9,1,8
1031713,39000000,997993939,39,939,3939,93939,9,0,,0,...,0,-1,0,-1,0,-1,0,-1,1,9

In [68]:
df.columns

Index(['price_vnd', 'phone_number', '2_last', '3_last', '4_last', '5_last',
       'first', '3_combo_bool', '3_combo_cat', '4_combo_bool', '4_combo_cat',
       '5_combo_bool', '5_combo_cat', '6_combo_bool', '6_combo_cat',
       '3_combo_s', '3_combo_57', '3_combo_689', '4_combo_s', '4_combo_57',
       '4_combo_689', '2_lucky_last_bool', '2_lucky_last_cat',
       '3_last_iden_bool', '3_last_iden_cat', '4_last_iden_bool',
       '4_last_iden_cat', '5_last_iden_bool', '5_last_iden_cat',
       '3_last_increasing_bool', '3_last_increasing_cat',
       '4_last_increasing_bool', '4_last_increasing_cat',
       '5_last_increasing_bool', '5_last_increasing_cat', 'pos_1', 'pos_2',
       'pos_3', 'pos_4', 'pos_5', 'pos_6', 'pos_7', 'pos_8', 'pos_9',
       'count_0', 'count_1', 'count_2', 'count_3', 'count_4', 'count_5',
       'count_6', 'count_7', 'count_8', 'count_9', 'max_count', 'nam_sinh_6x',
       'nam_sinh_7x', 'nam_sinh_8x', 'nam_sinh_9x', 'nam_sinh_2k',
       'list_double_3_increasing', 'list_double_4_increasing',
       'list_double_3_last', 'triple_2_last_r1', 'phat_loc_2_bool',
       'phat_loc_2_cat', 'phat_loc_4_bool', 'phat_loc_4_cat', 'kep_duoi_bool',
       'kep_duoi_cat', 'lap_dau_bool', 'lap_dau_cat', 'lap_cuoi_bool',
       'lap_cuoi_cat', '2_lap_t1', '2_lap_t2', '2_lap_t3', '2_lap_t4',
       '1_3_5_iden_bool', '1_3_5_iden_cat', '2_4_6_iden_bool',
       '2_4_6_iden_cat', '3_5_7_iden_bool', '3_5_7_iden_cat',
       '4_6_8_iden_bool', '4_6_8_iden_cat', '5_7_9_iden_bool',
       '5_7_9_iden_cat'],
      dtype='object')

In [69]:
list_lap_ong_dia = [] #7997, 8998
list_lap_ong_dia_last = []
list_lap_ong_dia_sample = ['7997', '8998']

list_kep_ong_dia = [] #7799, 8899
list_kep_ong_dia_last = []
list_kep_ong_dia_sample = ['7799', '8899']

list_dao_ong_dia_1 = [] #9779, 9889
list_dao_ong_dia_1_last = []
list_dao_ong_dia_1_sample = ['9779', '9889']

list_dao_ong_dia_2 = [] #7997, 8998
list_dao_ong_dia_2_last = []
list_dao_ong_dia_2_sample = ['7997', '8998']

for i in range(len(list_number)):
    #lap ong dia
    lap_ong_dia_score = 0
    lap_ong_dia_last_score = 0
    for tmp_str in list_lap_ong_dia_sample:
        if tmp_str in list_number[i]:
            lap_ong_dia_score = lap_ong_dia_score +1
            
        if (tmp_str == list_4_last[i]):
            lap_ong_dia_last_score = lap_ong_dia_last_score +1
    
    list_lap_ong_dia.append(lap_ong_dia_score)
    list_lap_ong_dia_last.append(lap_ong_dia_last_score)
            
    #kep ong dia
    kep_ong_dia_score = 0
    kep_ong_dia_last_score = 0
    for tmp_str in list_kep_ong_dia_sample:
        if tmp_str in list_number[i]:
            kep_ong_dia_score = kep_ong_dia_score +1
            
        if (tmp_str == list_4_last[i]):
            kep_ong_dia_last_score = kep_ong_dia_last_score +1
    
    list_kep_ong_dia.append(kep_ong_dia_score)
    list_kep_ong_dia_last.append(kep_ong_dia_last_score)   
            
    #dao ong dia 1
    dao_ong_dia_1_score = 0
    dao_ong_dia_1_last_score = 0
    for tmp_str in list_dao_ong_dia_1_sample:
        if tmp_str in list_number[i]:
            dao_ong_dia_1_score = dao_ong_dia_1_score +1
            
        if (tmp_str == list_4_last[i]):
            dao_ong_dia_1_last_score = dao_ong_dia_1_last_score +1
    
    list_dao_ong_dia_1.append(dao_ong_dia_1_score)
    list_dao_ong_dia_1_last.append(dao_ong_dia_1_last_score)   
            
    #dao ong dia 22
    dao_ong_dia_2_score = 0
    dao_ong_dia_2_last_score = 0
    for tmp_str in list_dao_ong_dia_2_sample:
        if tmp_str in list_number[i]:
            dao_ong_dia_2_score = dao_ong_dia_2_score +1
            
        if (tmp_str == list_4_last[i]):
            dao_ong_dia_2_last_score = dao_ong_dia_2_last_score +1
    
    list_dao_ong_dia_2.append(dao_ong_dia_2_score)
    list_dao_ong_dia_2_last.append(dao_ong_dia_2_last_score)

In [70]:
len(list_kep_ong_dia)

1031721

In [71]:
df['lap_ong_dia'] = list_lap_ong_dia 
df['lap_ong_dia_last'] = list_lap_ong_dia_last 
df['kep_ong_dia'] = list_kep_ong_dia 
df['kep_ong_dia_last'] = list_kep_ong_dia_last 
df['dao_ong_dia_1'] = list_dao_ong_dia_1
df['dao_ong_dia_1_last'] = list_dao_ong_dia_1_last 
df['dao_ong_dia_2'] = list_dao_ong_dia_2
df['dao_ong_dia_2_last'] = list_dao_ong_dia_2_last

In [72]:
df[df['lap_ong_dia'] != 0]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,5_7_9_iden_bool,5_7_9_iden_cat,lap_ong_dia,lap_ong_dia_last,kep_ong_dia,kep_ong_dia_last,dao_ong_dia_1,dao_ong_dia_1_last,dao_ong_dia_2,dao_ong_dia_2_last
648,4800000,325238998,98,998,8998,38998,3,0,,0,...,0,-1,1,1,0,0,0,0,1,1
1073,1190000,325379973,73,973,9973,79973,3,0,,0,...,0,-1,1,0,0,0,0,0,1,0
1928,5000000,325679979,79,979,9979,79979,3,0,,0,...,0,-1,1,0,0,0,0,0,1,0
2300,10000000,325799779,79,779,9779,99779,3,0,,0,...,0,-1,1,0,0,0,1,1,1,0
2624,5000000,325899868,68,868,9868,99868,3,0,,0,...,0,-1,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030948,200000000,996989989,89,989,9989,89989,9,0,,0,...,0,-1,1,0,0,0,0,0,1,0
1031478,5000000,997698998,98,998,8998,98998,9,0,,0,...,0,-1,1,1,0,0,0,0,1,1
1031647,286000000,997899899,99,899,9899,99899,9,0,,0,...,0,-1,1,0,0,0,0,0,1,0
1031700,2800000,997978998,98,998,8998,78998,9,0,,0,...,0,-1,1,1,0,0,0,0,1,1
1031710,135000000,997989989,89,989,9989,89989,9,0,,0,...,0,-1,1,0,0,0,0,0,1,0

In [73]:
list_ABBBBA_1 = [] #A<B
list_ABBBBA_2 = [] #A>B

list_ABBA_1 = [] #A<B
list_ABBA_2 = [] #A>B

for i in range(len(list_number)):
    if (list_number[i][3] == list_number[i][8] and list_number[i][4] == list_number[i][5] and list_number[i][4] == list_number[i][6] and list_number[i][4] == list_number[i][7]):
        if (int(list_number[i][3]) < int(list_number[i][4])):
            list_ABBBBA_1.append(1)
            list_ABBBBA_2.append(0)
        elif(int(list_number[i][3]) > int(list_number[i][4])):
            list_ABBBBA_1.append(0)
            list_ABBBBA_2.append(1)
        else:
            list_ABBBBA_1.append(0)
            list_ABBBBA_2.append(0)
    else:
        list_ABBBBA_1.append(0)
        list_ABBBBA_2.append(0)
        
    if (list_number[i][5] == list_number[i][8] and list_number[i][6] == list_number[i][7]):
        if (int(list_number[i][5]) < int(list_number[i][6])):
            list_ABBA_1.append(1)
            list_ABBA_2.append(0)
        elif(int(list_number[i][5]) > int(list_number[i][6])):
            list_ABBA_1.append(0)
            list_ABBA_2.append(1)
        else:
            list_ABBA_1.append(0)
            list_ABBA_2.append(0)
    else:
        list_ABBA_1.append(0)
        list_ABBA_2.append(0)

In [74]:
len(list_ABBBBA_1)

1031721

In [75]:
df['list_ABBBBA_1']= list_ABBBBA_1
df['list_ABBBBA_2']= list_ABBBBA_2
df['list_ABBA_1']= list_ABBA_1
df['list_ABBA_2']= list_ABBA_2

In [76]:
df[df['list_ABBA_1'] == 1]

,price_vnd,phone_number,2_last,3_last,4_last,5_last,first,3_combo_bool,3_combo_cat,4_combo_bool,...,kep_ong_dia,kep_ong_dia_last,dao_ong_dia_1,dao_ong_dia_1_last,dao_ong_dia_2,dao_ong_dia_2_last,list_ABBBBA_1,list_ABBBBA_2,list_ABBA_1,list_ABBA_2
1,1200000,322044994,94,994,4994,44994,3,0,,0,...,0,0,0,0,0,0,0,0,1,0
8,750000,325000440,40,440,0440,00440,3,1,000,0,...,0,0,0,0,0,0,0,0,1,0
12,1250000,325000990,90,990,0990,00990,3,1,000,0,...,0,0,0,0,0,0,0,0,1,0
23,6000000,325001991,91,991,1991,01991,3,0,,0,...,0,0,0,0,0,0,0,0,1,0
27,1750000,325002552,52,552,2552,02552,3,0,,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031668,2050000,997933993,93,993,3993,33993,9,0,,0,...,0,0,0,0,0,0,0,0,1,0
1031679,15600000,997956886,86,886,6886,56886,9,0,,0,...,0,0,0,0,0,0,0,0,1,0
1031700,2800000,997978998,98,998,8998,78998,9,0,,0,...,0,0,0,0,1,1,0,0,1,0
1031712,35000000,997990990,90,990,0990,90990,9,0,,0,...,0,0,0,0,0,0,0,0,1,0
1031714,15000000,997994994,94,994,4994,94994,9,0,,0,...,0,0,0,0,0,0,0,0,1,0

In [77]:
# df.to_csv('100_feats_dataset.csv')

In [78]:
df.columns

Index(['price_vnd', 'phone_number', '2_last', '3_last', '4_last', '5_last',
       'first', '3_combo_bool', '3_combo_cat', '4_combo_bool', '4_combo_cat',
       '5_combo_bool', '5_combo_cat', '6_combo_bool', '6_combo_cat',
       '3_combo_s', '3_combo_57', '3_combo_689', '4_combo_s', '4_combo_57',
       '4_combo_689', '2_lucky_last_bool', '2_lucky_last_cat',
       '3_last_iden_bool', '3_last_iden_cat', '4_last_iden_bool',
       '4_last_iden_cat', '5_last_iden_bool', '5_last_iden_cat',
       '3_last_increasing_bool', '3_last_increasing_cat',
       '4_last_increasing_bool', '4_last_increasing_cat',
       '5_last_increasing_bool', '5_last_increasing_cat', 'pos_1', 'pos_2',
       'pos_3', 'pos_4', 'pos_5', 'pos_6', 'pos_7', 'pos_8', 'pos_9',
       'count_0', 'count_1', 'count_2', 'count_3', 'count_4', 'count_5',
       'count_6', 'count_7', 'count_8', 'count_9', 'max_count', 'nam_sinh_6x',
       'nam_sinh_7x', 'nam_sinh_8x', 'nam_sinh_9x', 'nam_sinh_2k',
       'list_double_3_increasing', 'list_double_4_increasing',
       'list_double_3_last', 'triple_2_last_r1', 'phat_loc_2_bool',
       'phat_loc_2_cat', 'phat_loc_4_bool', 'phat_loc_4_cat', 'kep_duoi_bool',
       'kep_duoi_cat', 'lap_dau_bool', 'lap_dau_cat', 'lap_cuoi_bool',
       'lap_cuoi_cat', '2_lap_t1', '2_lap_t2', '2_lap_t3', '2_lap_t4',
       '1_3_5_iden_bool', '1_3_5_iden_cat', '2_4_6_iden_bool',
       '2_4_6_iden_cat', '3_5_7_iden_bool', '3_5_7_iden_cat',
       '4_6_8_iden_bool', '4_6_8_iden_cat', '5_7_9_iden_bool',
       '5_7_9_iden_cat', 'lap_ong_dia', 'lap_ong_dia_last', 'kep_ong_dia',
       'kep_ong_dia_last', 'dao_ong_dia_1', 'dao_ong_dia_1_last',
       'dao_ong_dia_2', 'dao_ong_dia_2_last', 'list_ABBBBA_1', 'list_ABBBBA_2',
       'list_ABBA_1', 'list_ABBA_2'],
      dtype='object')